var row = $('[data-agentid="<%= @agent.id %>"]');
var informant = $('#informant');

row.slideUp(400, function() {
  if ($('.new-agent-request tr:visible').length === 1) {
    $('.new-agent-request').append('<div class="no-items-container"><h2 class="no-items">NO REQUESTS</h2></div>');
  }

  informant.text('You have successfully verified that agent');
  informant.removeClass().addClass('green').show(400).delay(4000).hide(400);
});







