<div class="home">
  <div class="aside">
    <!-- <form>
      <h2>Login Form</h2>
      <div>
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
      <p>
        Only authorized personnel have access to the services offered by this platform.
        Businesses and corporations that want to use some of the services offered by this
        platform like performing background security checks, non-conviction creations have to file their
        orders at the security posts in their various jurisdictions. They will be processed and determined if they qualify. If any changes however are made, that make the process of obtaining
        API endpoints easier all establishments will be duely informed. Thanks
      </p>    
    </form> -->
    <h1>Purpose of the Platform</h1>
    <img src="/flag.png">
    <p>
      Cameroon has a well developed Legal System, with laws that aim to respect the intergrity of everyone of its citizens. However there exist a great disparity between what is written in the constitution and the individual experience of every Cameroonian. This platform will provide a means for Cameroonians to lay claim to their rights and priviledges as stipulated by the law. It will provide a consistent portal where cases of violation of human rights can be reported and subsequently followed up, sounds cliche we know but to guarantee this, we will provide access to individual law firms that will allow them to personally pursue these cases and will render the governing institutions set up  to maintain and protect the rights of the citizens accountable to any form of foul play. This is a huge initiative, and as the time goes on we will keep every citizen informed on the services that are provided by the platform. Please do well to send in your suggestions, your opinion matters if we are to move ahead.
      Thanks
    </p>
  </div>
  <div class="site-info">
    <h1>237Security is the online Portal for the Cameroonian Security Service</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p>
    <button>
      <a href="#">Read more...</a>
    </button>
  </div>
</div>
