<div class="main agent agent-profile">
  <div class="personal-info">
    <h2>Personal Settings <span class="logout"><a href="#">Log Out</a></span></h2>
    <div class="detail">
      <h3>Username: <span>freeborn</span></h3>
      <p><span class="factor">Full Name: </span> <span>Lukong Isaac Nsoseka</span></p>
      <p><span class="factor">Email:</span> <span>lisaacjunior@yahoo.com</span></p>
      <p><span class="factor">Phone Number: </span> <span>677829329</span></p>
      <p><span class="factor">Station: </span> <span>Kumbo Police Station</span></p>
      <p><span class="factor">Role: </span> <span>Police</span></p>
      <p><span class="factor">Service Id: </span> <span>123XQW</span></p>
      <div class="btn">
        <button><a href="#">Edit Profile Settings</a></button>
      </div>
  </div>

  <div class="your-convocation-details">
    <h2>Convocation Details</h2>
    <div class="detail">
      <p><span class="factor">Total Convocations: </span> <span>10</span></p>
      <p><span class="factor">Still Open: </span> <span>4</span></p>
      <p><span class="factor">Closed: </span> <span>6</span></p>
      <!-- <h4>NO CONVOCATIONS</h4> -->
    </div>
  </div>

  <div class="your-restriction-details">
    <h2>Restriction Defails</h2>
    <div class="detail">
      <p><span class="factor">Total Restrictions: </span> <span>10</span></p>
      <p><span class="factor">Still in Effect: </span> <span>4</span></p>
      <p><span class="factor">Removed: </span> <span>6</span></p>
      <!-- <h4>NO RESTRICTIONS</h4> -->
    </div>
  </div>

  <div class="your-flag-details">
    <h2>Flag Defails</h2>
    <div class="detail">
      <p><span class="factor">Total Flags:</span> <span>10</span></p>
      <p><span class="factor">Still in Effect:</span> <span>4</span></p>
      <p><span class="factor">Removed:</span> <span>6</span></p>
      <!-- <h4>NO FLAGS</h4> -->
    </div>
  </div>

  <div class="your-archive-details">
    <h2>Archive History</h2>
    <div class="detail">
      <h3><span>20</span> archive(s) available about You</h3>
    </div>
  </div>
</div>

